{% extends "base.html" %}
{% load static %}

{% block title %}Arc En Ciel - Porte-Clés{% endblock %}

{% block content %}
<!-- Bannière animée -->
<div class="banner">
    <img src="{% static 'assets/images/Capture.png' %}" alt="bannière photo porte-clés">
    <div class="banner-text">
        <p>Découvrez nos porte-clés en résine, sublimés par des pierres naturelles,</p>
        <p>alliant style et connexion aux énergies bienfaisantes de la nature.</p>
    </div>
</div>

<!-- Affichage des porte-clés -->
<section class="produits">
    <img src="{% static 'assets/images/titres-portecles.png' %}" alt="logo titre bagues">
    <div class="produits-list">
        {% for item in produit %}
        <div class="produit-item">
            <h2>{{ item.nom }}</h2>
            <p>{{ item.description }}</p>
            <p>Prix : {{ item.prix }} €</p>
            <img src="{{ item.image.url }}" alt="{{ item.nom }}">
        </div>
        {% empty %}
        <p>Aucun porte-clés disponible pour le moment.</p>
        {% endfor %}
    </div>
</section>
{% endblock %}
